body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

/* nav */
.main-nav{
    background-color: #1E202B;
    z-index: 999;
}

.nav-item{
position: relative;
}
.navbar-nav{padding: 20px;}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 30px;
  color: #009AD8!important;
  border: 2px solid #009AD8;
  border-radius: 30px;
  transition: all 0.6s;
  opacity: 0;
}

.nav-item {
    position: relative;
}
.nav-link:hover::after {
  width: 100%;
  opacity: 1;
  
}

.nav-link.active::after {
  width: 100%;
  opacity: 1;
}


.text-logo small{font-size: 10px;
color: #bfc1c8;;}

 .text-nav{
    font-size:14px;
font-family: 
Roboto
"Open Sans"
sans-serif;}


/* home */
.input-wrapper {
    position: relative;
    padding-top: 50px;
    margin: 80px;
}

.input-wrapper input {
    width: 100%;
    background-color: #1E202B;
      border: 1px solid #444;
    outline: none;
    padding-right: 70px;  
}
.input-wrapper input:focus {
    background-color: #1E202B;
}
.input-wrapper button {
    position: absolute;
    padding: 10px;
    right: 5px;
    top: 73%;
    transform: translateY(-50%);
    width: 120px;
    background-color: #009AD8;
}
.home {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    height: 55vh; 
    position: relative;
}

.cards-wrapper{
       background-color: #1E202B;
 margin-top:0
;
padding-top: 160px;
}


.cards-wrapper .row{
    position: relative;

    transform: translateY(-50%)
}



.card-today{
background-color: #323544; 
    border-radius: 7px;
    flex-direction: column;
    padding-bottom: 90px;
    
}
.card-today .degree{
    font-size:90px;
}
.card-tomorow,
.card-last-tomorow {
    background-color: #323544; 
    border-radius: 7px;
    flex-direction: column;
 padding-bottom: 180px; 
}
.card-today,.card-last-tomorow{
 background-color: #323544
}
.card-today .card-header,.card-last-tomorow .card-header{
    background-color: #2D303D;
}
.card-today .card-header{
    padding: 4px;
}
.card-tomorow{
    background-color: #262936;
}
.card-tomorow .card-header{
    background-color: #222530;
        color: 
RGB(191, 193, 200);

}
.card-last-tomorow .card-header{
        color: 
RGB(191, 193, 200);
}


.title-city,
.card-today .card-header p,
.twice-degree{
    color: 
RGB(191, 193, 200);
}
/* footer */
.footer{ 

    padding: 40px;


    background-color: #262936;
}
.footer .logos{
    margin-top: 50px !important;
   
    
} 
.logos{translate:hover 0.5s;}
.logos i{

     border-radius:50% ;
     width: 35px;
     height: 35px;
    background-color: rgba(0, 0,0,0.5);

}
.logos i:hover{
    background-color: #009AD8;
    color: aliceblue;
}
.logos a{ text-align: center;

}
.footer a{
    color: #009AD8;

}
.footer p{
    padding-left:60px ;
     padding-bottom: 50px; 
     margin-top: -50px; 

        color: 
RGB(191, 193, 200);
}
